* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  place-content: center;
  font-family: "Poppins", sans-serif;
  background-color:white;
  display: grid;
  align-items: start;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, #CFBAF0, #FFCFD2, #FBF8CC);
}

/****==================****/
.base{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
  width:500px;
  height:400px;
  border-radius: 25px;
  background: white;
  padding: 20px;
}

.logOrSign {
    max-width: 760px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

/****==================****/
.card1 {
    position: relative;
    display: flex;
    min-height: 300px;
    background:linear-gradient(43deg, #498EB0, #B3C1CE);
}

.card2 {
    position: relative;
    display: flex;
    min-height: 300px;
    background:linear-gradient(43deg, #498EB0, #B3C1CE);
}

.card1::before,
.card1::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
}

.card1::before {
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent #fff transparent;
    transition: border .25s;
}

.card1::after {
    content: 'Go';
    bottom: 15px;
    right: 15px;
    color: #5A87A4;
    font-size: 21px;
    opacity: 0;
}

.card1:hover::before {
    border-width: 0 0 100px 100px;
}

.card1:hover::after {
    opacity: 1;
    transition: opacity .5s;
}

.card2::before,
.card2::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
}

.card2::before {
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent #fff transparent;
    transition: border .25s;
}

.card2::after {
    content: 'Go';
    bottom: 15px;
    right: 15px;
    color: #5A87A4;
    font-size: 21px;
    opacity: 0;
}

.card2:hover::before {
    border-width: 0 0 100px 100px;
}

.card2:hover::after {
    opacity: 1;
    transition: opacity .5s;
}

.card_title1 {
    color: white;
    margin: auto;
    font-size: 36px;
}

.card_title2 {
    color: white;
    margin: auto;
    font-size: 36px;
}

/****==================****/

.login{
  margin-top: 30px;
  text-align: center;
}

.login h4{
  font-size: 50px;
  color: #60577D;
  text-align: center;
  font-family: font;
}

.username input{
  margin-top: 20px;
  font-size: 20px;
  color: #60577D;
  padding: 5px;
  background-color: #E8D7D7;
  outline: 2px solid #D1B7B7;
  border: none;
}


.password input{
  margin-top: 20px;
  font-size: 20px;
  color: #60577D;
  padding: 5px;
  background-color: #E8D7D7;
  outline: 2px solid #D1B7B7;
  border: none;
}


.loginBtn{
  position: absolute;
  margin-top: 50px;
  cursor: pointer;
  background-color: #60577D;
  color: #fff;
  padding: 10px 15px;
  outline: 2px solid #60577D;
  outline-offset: 3px;
  border: none;
  border-radius: 2px;
}

@font-face {
    font-family: font;
    src: url(architectDaughter.ttf);
}
