body {
  background-color: #C4E2EF;
  display: grid;
  overflow: hidden;
}

.cloud{
  position: relative;
  left: 950px;
  animation: shakeCloud 7s linear infinite;
}

.bee{
  position: absolute;
  left: 45px;
  top: 350px;
  animation: shakeBee 20s linear infinite;
}

.grass1{
  position: absolute;
  bottom: -100px;
  left: -60px;
}

.grass2{
  position: absolute;
  bottom: -100px;
  left: 300px;
}

.grass3{
  position: absolute;
  bottom: -100px;
  left: 660px;
}

.grass4{
  position: absolute;
  bottom: -100px;
  left: 1020px;
}

.title{
  position: absolute;
  font-size: 80px;
  color: #FF6100;
  position: absolute;
  font-family: myFirstFont;
  top: -60px;
  left: 10px;
}

.by{
  position: absolute;
  font-size: 30px;
  color: #FF6100;
  left: 470px;
  font-family: myFirstFont;
}

.cartoon1{
  position: relative;
  overflow: hidden;
  text-align: center;
  display: block;
  margin: auto;
  top: -100px;

}




@font-face {
    font-family: myFirstFont;
    src: url(AmaticSC-Regular.ttf);
}

@keyframes shakeBee {
  0%   {left:45px; top:250px;}
  50%  {left:200px; top:290px;}
  100% {left:45px; top:250px;}
}

@keyframes shakeCloud {
  0%   {left:950px; top:0px;}
  50%  {left:950px; top:-50px;}
  100% {left:950px; top:0px;}
}
