@font-face {
    font-family: ananias;
    src: url(Ananias.otf);
}

*{
  box-sizing: border-box;
}

body {
  font-family: ananias;
  background-image: url("countdownBG.png");
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: normal;
  font-size: 4rem;
  color: #7EAF94;
}

.cdContainer {
  display: flex;
}

.bigText{
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 7rem;
  color: #3B7B58;
}

.texts {
  text-align: center;
}

.texts span {
  font-size: 2rem;
  color: #7EAF94;

}
